


<div class="row justify-content-md-center">

    <!-- load(kgf)-->
    <div class="col-xs-2 text-center p-2">
      <input type="text" class="knob" value="0" data-plugin="knob" data-min="{{frontend.status_load_min}}" data-max="{{frontend.status_load_max}}" data-width="90" data-height="90" data-fgColor="#163c66" data-step=".1" data-linecap="round" data-readonly="true" id="edit_status_load">
      <div class="knob-label">{{menu_ko.status_load}}</div>
    </div>

    <!-- rpm-->
    <div class="col-xs-2 text-center p-2">
      <input type="text" class="knob read-only" value="0" data-plugin="knob" data-min="{{frontend.status_rpm_min}}" data-max="{{frontend.status_rpm_max}}" data-width="90" data-height="90" data-fgColor="#d1a758" data-linecap="round" id="edit_status_rpm">
      <div class="knob-label">{{menu_ko.status_rpm}}</div>
    </div>

    <!-- temperature 1-->
    <div class="col-xs-2 text-center p-2">
      <input type="text" class="knob read-only" value="0" data-plugin="knob" data-min="{{frontend.status_temperature1_min}}" data-max="{{frontend.status_temperature1_max}}" data-width="90" data-height="90" data-fgColor="#166659" data-step=".1" data-linecap="round" id="edit_status_temperature_1">
      <div class="knob-label">{{menu_ko.status_temperature_1}}</div>
    </div>
    
    <!-- temperature 2-->
    <div class="col-xs-2 text-center p-2">
      <input type="text" class="knob read-only" value="0" data-plugin="knob" data-min="{{frontend.status_temperature2_min}}" data-max="{{frontend.status_temperature2_max}}" data-width="90" data-height="90" data-fgColor="#166659" data-step=".1" data-linecap="round" id="edit_status_temperature_2">
      <div class="knob-label">{{menu_ko.status_temperature_2}}</div>
    </div>

    <!-- temperature 3-->
    <div class="col-xs-2 text-center p-2">
      <input type="text" class="knob read-only" value="0" data-plugin="knob" data-min="{{frontend.status_temperature3_min}}" data-max="{{frontend.status_temperature3_max}}" data-width="90" data-height="90" data-fgColor="#166659" data-step=".1" data-linecap="round" id="edit_status_temperature_3">
      <div class="knob-label">{{menu_ko.status_temperature_3}}</div>
    </div>

</div>

<div class="row mt-2">
    <!-- exp progress -->
    <table class="table table-borderless p-0">

      <!-- current step -->
      <tr>
        <td width="20%" class="text-right">{{menu_ko.status_inprogress_step}}</td>
        <td class="pt-3">
          <div class="progress progress-lg" style="height: 20px;">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progress_step_current"></div>
          </div>
        </td>
        <td style="width: 100px;" class="text-bold" id="text_step_current">0/0</span></td>
      </tr>

      <!-- current in-progress time -->
      <tr>
        <td width="20%" class="text-right">{{menu_ko.status_inprogress_time}}</td>
        <td class="pt-3">
          <div class="progress progress-lg" style="height: 20px;">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progress_step_elapsed"></div>
          </div>
        </td>
        <td style="width: 100px;" class="text-bold" id="text_step_elapsed">00:00:00</span></td>
      </tr>

    </table>
  </div>


  <script type="text/javascript">

/* convert seconds to H::M::S */
function secondsToHms(d) {
    d = Number(d);

    var h = Math.floor(d / 3600);
    var m = Math.floor(d % 3600 / 60);
    var s = Math.floor(d % 3600 % 60);

    return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);
}

  /* current step status */
  function update_progress_step_current(current, total){
    const percent = parseInt(current/total*100) +"%";
    document.getElementById('progress_step_current').style.width = percent;
    document.getElementById('progress_step_current').innerText = percent;
    document.getElementById('text_step_current').innerText = current +"/" + total;
  }

  /* current step elapsed time */
  function update_progress_step_elapsed(current, total){
    const percent = parseInt(current/total*100) +"%";
    document.getElementById('progress_step_elapsed').style.width = percent;
    document.getElementById('progress_step_elapsed').innerText = percent;
    document.getElementById('text_step_elapsed').innerText = secondsToHms(current);
  }

  </script>