

<div class="card card-lightblue shadow catd-tabs" style="height: 445px;">
    <div class="card-header p-0 pt-1 border-bottom-0">

        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <!-- status tab title & link -->
            <li class="nav-item">
                <a class="nav-link active" id="tab_status_current_link" data-toggle="pill" href="#tab_status_current" role="tab" aria-controls="tab_status" aria-selected="true">
                    <i class="fas fa-list"></i> {{menu_ko.status_current}}
                </a>
            </li>

            <!-- status manual control tab title & link -->
            <li class="nav-item">
                <a class="nav-link" id="tab_status_manual_control_link" data-toggle="pill" href="#tab_status_manual_control" role="tab" aria-controls="tab_status_manual_control" aria-selected="false">
                <i class="fas fa-user-cog"></i> {{menu_ko.status_manual_control}}
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body">

      <div class="tab-content" id="custom-tabs-four-tabContent">
        <div class="tab-pane show active" id="tab_status_current" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
            {% include 'card_status_current.html' %}
        </div>
        <div class="tab-pane" id="tab_status_manual_control" role="tabpanel">
            {% include 'card_status_manual_control.html' %}
        </div>
      </div>

    </div>
</div>


<script>

  /* tab event for side menu display control */
  $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href");
      switch(target){
          /* settings general tab activated */
          case "#tab_status_current": {
              $('#btn_rotate_forward').addClass("d-none");
              $('#btn_rotate_reverse').addClass("d-none");
              $('#btn_rotate_stop').addClass("d-none");
              $('#btn_motor_onoff').addClass("d-none");
              $('#btn_sideload_onoff').addClass("d-none");
          } break;
          /* settings details tab activated */
          case "#tab_status_manual_control": {
              $('#btn_rotate_forward').removeClass("d-none");
              $('#btn_rotate_reverse').removeClass("d-none");
              $('#btn_rotate_stop').removeClass("d-none");
              $('#btn_motor_onoff').removeClass("d-none");
              $('#btn_sideload_onoff').removeClass("d-none");
          } break;
      }
  });

  /* page load */
  window.addEventListener('DOMContentLoaded', function(){
      /* initially hide menu */
      $('#btn_rotate_forward').addClass("d-none");
      $('#btn_rotate_reverse').addClass("d-none");
      $('#btn_rotate_stop').addClass("d-none");
      $('#btn_motor_onoff').addClass("d-none");
      $('#btn_sideload_onoff').addClass("d-none");
      //load();
  });


  $(".knob").knob({
          change : function (value) {
              //console.log("change : " + value);
          },
          release : function (value) {
              //console.log(this.$.attr('value'));
              //console.log("release : " + value);
          },
          cancel : function () {
              //console.log("cancel : ", this);
          },
          draw : function () {
          }
      });
</script>

