
<style>
    .btn-sq-lg {
        width: 100px !important;
        height: 100px !important;
        font-size: 13px;
    }
</style>

<div class="row m-0">

  <!-- motor on & off-->
  <div class="col-sm-3">
    <label>{{menu_ko.status_manual_control_motor}} :</label>
  </div>
    <div class="col-sm-3">
      <div class="form-group form-inline mr-2">
        <div class="input-group ml-2">
          <input type="checkbox" data-toggle="toggle" id="check_motor_toggle">
        </div>
      </div>
    </div>

    <!-- side load on & off-->
    <div class="col-sm-3">
      <label>{{menu_ko.status_manual_control_sideload}} :</label>
    </div>
    <div class="col-sm-3">
      <div class="form-group form-inline mr-2">
        <div class="input-group ml-2">
          <input type="checkbox" data-toggle="toggle" id="check_sload_toggle">
        </div>
      </div>
    </div>
</div>

<!-- cylinder move up & down-->
<div class="row m-0">
  <div class="col-sm-2">
    <label>{{menu_ko.status_manual_control_cylinder_move}}:</label>
  </div>
  <div class="col-sm-10">
    <div class="form-group form-inline mr-2">
      <div class="input-group ml-2">
        <div class="btn-group" role="group" aria-label="">
          <button type="button" class="btn btn-light border" style="width: 150px !important;" id="btn_manual_cylinder_up"><i class="fas fa-arrow-up"></i> {{menu_ko.status_manual_control_cylinder_up}}</button>
          <button type="button" class="btn btn-danger border" style="width: 150px !important;" id="btn_manual_cylinder_stop"><i class="fas fa-stop"></i> {{menu_ko.status_manual_control_cylinder_stop}}</button>
          <button type="button" class="btn btn-light border" style="width: 150px !important;" id="btn_manual_cylinder_down"><i class="fas fa-arrow-down"></i> {{menu_ko.status_manual_control_cylinder_down}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- main speed value setting-->
<div class="row m-0 mb-3">
  <div class="col-sm-2">
    <label>{{menu_ko.status_manual_control_main_speed}} :</label>
  </div>
  <div class="col-sm-10">
    <form class="form-inline mr-2">
      <div class="form-group ml-2">
        <input type="text" class="form-control" id="edit_manual_main_speed_value" placeholder="RPM">
      </div>
      <button type="button" class="btn btn-primary border ml-3" id="btn_manual_main_speed_value">PLC 적용</button>
    </form>
  </div>
</div>

<!-- main speed cw & ccw & stop-->
<div class="row m-0">
  <div class="col-sm-2">
    
  </div>
  <div class="col-sm-10">
    <div class="form-group form-inline mr-2">
      <div class="input-group ml-2">
        <div class="btn-group" role="group" aria-label="">
          <button type="button" class="btn btn-light border" style="width: 150px !important;" id="btn_manual_move_cw"><i class="fas fa-undo"></i> {{menu_ko.status_manual_control_cw}}</button>
          <button type="button" class="btn btn-danger border" style="width: 150px !important;" id="btn_manual_move_stop"><i class="fas fa-stop"></i> {{menu_ko.status_manual_control_stop}}</button>
          <button type="button" class="btn btn-light border" style="width: 150px !important;" id="btn_manual_move_ccw"><i class="fas fa-redo"></i> {{menu_ko.status_manual_control_ccw}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- set zero -->
<div class="row m-0">
  <div class="col-sm-2">
    <label>{{menu_ko.zeroset}} :</label>
  </div>
  <div class="col-sm-10">
    <div class="form-group form-inline mr-2">
      <div class="input-group ml-2">
        <div class="btn-group" role="group" aria-label="">
          <button type="button" class="btn btn-success border" style="width: 150px !important;" id="btn_manual_zeroset"><i class="fas fa-slash"></i> {{menu_ko.zeroset}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

/* motor on*/
function mqtt_command_motor_on(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"motor_on"}), 2);
  }
}

/* motor off*/
function mqtt_command_motor_off(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"motor_off"}), 2);
  }
}

/* sload on*/
function mqtt_command_sload_on(){
  if(mqtt_connected){
    mqtt_client.publish("mex/relay/ctrl", JSON.stringify({"p1":1}), 2);
  }
}

/* sload off*/
function mqtt_command_sload_off(){
  if(mqtt_connected){
    mqtt_client.publish("mex/relay/ctrl", JSON.stringify({"p1":0}), 2);
  }
}

/* cylinder up */
function mqtt_command_cylinder_up(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"cylinder_up"}), 2);
  }
}

/* cylinder down */
function mqtt_command_cylinder_down(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"cylinder_down"}), 2);
  }
}

/* cylinder stop */
function mqtt_command_cylinder_stop(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"cylinder_stop"}), 2);
  }
}

/* speed cw */
function mqtt_command_move_cw(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"move_cw"}), 2);
  }
}

/* speed ccw */
function mqtt_command_move_ccw(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"move_ccw"}), 2);
  }
}

/* speed stop */
function mqtt_command_move_stop(){
  if(mqtt_connected){
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify({"command":"move_stop"}), 2);
  }
}

/* mqtt command for zeroset */
function mqtt_command_zeroset(){
  if(mqtt_connected){
    mqtt_client.publish("mex/relay/ctrl", JSON.stringify({"p4":1}), 2);
    setTimeout(() => 
    mqtt_client.publish("mex/relay/ctrl", JSON.stringify({"p4":0}), 2)
    , 1000);
  }
}

/* motor speed set */
function mqtt_command_motor_speed_set(){
  if(mqtt_connected){
    let param = {};
    param["command"] = "param_set";

    if(document.getElementById('edit_manual_main_speed_value').value)
      param["rpm"] = document.getElementById('edit_manual_main_speed_value').value;
    else
      param["rpm"] = 0;

    if(document.getElementById('edit_settings_general_productsize').value)
      param["product_size"] = document.getElementById('edit_settings_general_productsize').value;
    else
      param["product_size"] = 0;

    if(document.getElementById('edit_settings_general_rollersize').value)
      param["roller_size"] = document.getElementById('edit_settings_general_rollersize').value;
    else
      param["roller_size"] = 0;

    if(document.getElementById('edit_settings_general_ratio').value)
      param["ratio"] = document.getElementById('edit_settings_general_ratio').value;
    else
      param["ratio"] = 1.0;
    
    mqtt_client.publish("mex/plc/ctrl", JSON.stringify(param), 2);
  }
}

/* manual motor on & off */
$('#check_motor_toggle').change(function() {
    if($(this).prop('checked'))
        mqtt_command_motor_on();
    else
        mqtt_command_motor_off();
});

/* manual motor on & off */
$('#check_sload_toggle').change(function() {
    if($(this).prop('checked'))
        mqtt_command_sload_on();
    else
        mqtt_command_sload_off();
});

/* cylinder up */
document.getElementById('btn_manual_cylinder_up').addEventListener('click', function(){
  mqtt_command_cylinder_up();
});

/* cylinder down */
document.getElementById('btn_manual_cylinder_down').addEventListener('click', function(){
  mqtt_command_cylinder_down();
});

/* cylinder stop */
document.getElementById('btn_manual_cylinder_stop').addEventListener('click', function(){
  mqtt_command_cylinder_stop();
});

/* speed cw */
document.getElementById('btn_manual_move_cw').addEventListener('click', function(){
  mqtt_command_move_cw();
});

/* speed ccw */
document.getElementById('btn_manual_move_ccw').addEventListener('click', function(){
  mqtt_command_move_ccw();
});

/* speed stop */
document.getElementById('btn_manual_move_stop').addEventListener('click', function(){
  mqtt_command_move_stop();
});

/* call zeroset event */
document.getElementById('btn_manual_zeroset').addEventListener('click', function(){
  mqtt_command_zeroset();
});

/* speed set */
document.getElementById('btn_manual_main_speed_value').addEventListener('click', function(){
  mqtt_command_motor_speed_set();
});

</script>