

{% load static %}

<div class="modal fade" id="modal_settings_new" tabindex="-1" aria-labelledby="modal_settings_new_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_settings_new_title">{{menu_ko.settings_new}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form>
            {% csrf_token %}
            <div class="form-group row">
                <label for="new_settings_name" class="col-sm-2 col-form-label text-right">설정명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="new_settings_name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="new_settings_note" class="col-sm-2 col-form-label text-right">설명</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="new_settings_note" rows="3"></textarea>
                </div>
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_settings_new_create">Create</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  /* async request to create new settings */
  async function request_create_new_settings(){
    let name = document.getElementById('new_settings_name').value;
    let note = document.getElementById('new_settings_note').value;

    const response = await REST_POST("{% url 'api_settings_new' %}", {"name":name, "note":note});
    const data = await response.json();

    if(response.ok){
      document.getElementById('edit_settings_name').value = name;
      document.getElementById('btn_setting_reload').click();
      update_settings_list();
      apply_settings_data(data);
    }
  }
  
  /* create event listener */
  document.getElementById('btn_settings_new_create').addEventListener('click', function(){
    $('#modal_settings_new').modal('hide');
    request_create_new_settings();
  });


  /* after window is shown, do request uid */
  $('#modal_settings_new').on('show.bs.modal', function (event) {
    document.getElementById('new_settings_name').value = "";
    document.getElementById('new_settings_note').value = "";
  });

  /* shortcut key event for system configuration */
  shortcut.add("Ctrl+Alt+N", function() {
    $('#modal_settings_new').modal('show');
  });

  </script>