

{% load static %}

<div class="modal fade" id="modal_new_rsu" tabindex="-1" aria-labelledby="modal_new_rsu_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_new_rsu_title">{{menu_ko.rsu_add_new}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form>
            {% csrf_token %}
            <div class="form-group row">
              <label for="new_rsu_tagname" class="col-sm-3 col-form-label text-right">Tag Name</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" id="new_rsu_tagname" required>
              </div>
          </div>
            <div class="form-group row">
                <label for="new_rsu_uid" class="col-sm-3 col-form-label text-right">UID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="new_rsu_uid" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="new_rsu_lsid" class="col-sm-3 col-form-label text-right">LSID</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="new_rsu_lsid" required>
                </div>
            </div>
            <div class="form-group row">
              <label for="new_rsu_ldid" class="col-sm-3 col-form-label text-right">LDID</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="new_rsu_ldid" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="new_rsu_activate" class="col-sm-3 col-form-label text-right"></label>
              <div class="col-sm-8">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="new_rsu_activate">
                  <label class="form-check-label" for="new_rsu_activate">
                    Activation
                  </label>
                </div>
              </div>
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_add_new_rsu">Create</button>
      </div>
    </div>
  </div>
</div>

<script language="javascript">

  /* async request to add new RSU device */
  async function request_add_new_rsu(){
    let tagname = document.getElementById('new_rsu_tagname').value;
    let uid = document.getElementById('new_rsu_uid').value;
    let lsid = document.getElementById('new_rsu_lsid').value;
    let ldid = document.getElementById('new_rsu_ldid').value;
    let activate = document.getElementById('new_rsu_activate').value;
    
    const response = await REST_POST("{% url 'api_rsu_add' %}", {"tagname":tagname, "uid":uid, "lsid":lsid, "ldid":ldid, "activate":activate});
    const rdata = await response.json();

    if(response.ok){
      update_rsu_list();
    }

  }

  /* create event listener */
  document.getElementById('btn_add_new_rsu').addEventListener('click', function(){
    let tagname = document.getElementById('new_rsu_tagname').value;
    let uid = document.getElementById('new_rsu_uid').value;
    let lsid = document.getElementById('new_rsu_lsid').value;
    let ldid = document.getElementById('new_rsu_ldid').value;
    if(tagname && uid && lsid && ldid){
      request_add_new_rsu();
      $('#modal_new_rsu').modal('hide');

      //clear elements
      document.getElementById('new_rsu_tagname').value = "";
      document.getElementById('new_rsu_uid').value = "";
      document.getElementById('new_rsu_lsid').value = "";
      document.getElementById('new_rsu_ldid').value = "";
    }
    else {
      alert("All elements are required.");
    }
    
    
  });
    
</script>