
{% load static %}

{% include 'html/modal_new_rsu.html' %}

<style>

  .dataTables_scrollHeadInner {
    width: 100% !important;
  }
  .dataTables_scrollHeadInner table {
    width: 100% !important;
  }
    
</style>

<div class="row m-0 p-0">
    <div class="col-sm-12 p-1">
        <nav class="navbar navbar-expand-lg">    
          <ul class="navbar-nav">
              <!-- new rsu device -->
              <li class="nav-item">
                <button class="btn btn-outline-dark p-0 pl-2 pr-2 mr-2" id="btn_new_rsu"><i class="fa fa-plus text-primary"></i> Add New RSU</button>
                <button class="btn btn-outline-dark p-0 pl-2 pr-2 mr-2" id="btn_refresh_rsu"><i class="fa fa-retweet text-success"></i> Refresh</button>
              </li>
          </ul>
            
        </nav>

    </div>
</div>

<div class="row m-0 mt-1">
    <div class="col-sm-12">
      <table class="table table-sm display compact" id="table_rsu_list" width="100%">
        <thead>
          <tr>
            <th>Unit Type</th>
            <th>LoRa ID</th>
            <th>Location</th>
            <th>Tag Name</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

<script language="javascript">
    
  /* open new rsu */
  document.getElementById("btn_new_rsu").addEventListener("click", function() {
      $('#modal_new_rsu').modal('show');
  });

  /* refresh rsu list */
  document.getElementById("btn_refresh_rsu").addEventListener("click", function(){
    update_rsu_list();
  });

  /* rsu device list table */
  var rsu_list_table = $('#table_rsu_list').DataTable({
    scrollX:true,
    autoWidth:false,
    scrollY: "500px",
    scrollCollapse:true,
    paging:false,
    searching:false,
    columnDefs: [ { "width": "100px", "targets": 0 }, { "width": "80px", "targets": 1 }, { "width": "100px", "targets": 2 }, { "width": "100px", "targets": 3 } ]
  });

  /* request rsu list */
  async function update_rsu_list(){
    rsu_list_table.clear();

    const response = await REST_GET("{% url 'api_rsu_list' %}");
    if(response.ok && response.status==200){
      const listdata = await response.json();

      listdata.data.forEach(function(s){
        var manage = "";
        if(!s.activate){ manage += '<button type="button" class="btn btn-light btn-sm btn-outline-dark mr-1" onclick=javascript:request_rsu_activate('+s.id+');><i class="fas fa-check mr-1 text-success"></i> Activate</button>'; }
        else { manage += '<button type="button" class="btn btn-light btn-sm btn-outline-dark mr-1" onclick=javascript:request_rsu_deactivate('+s.id+');><i class="fas fa-ban mr-1 text-success"></i> Deactivate</button>'; }

        manage+='<button type="button" class="btn btn-light btn-sm btn-outline-dark" onclick=javascript:request_rsu_delete('+s.id+');><i class="fas fa-trash mr-1 text-danger"></i> Delete</button>';
          
        rsu_list_table.row.add([s.unittype_name, s.loraid, s.location, s.tagname, manage]);
      });
      rsu_list_table.draw();
    }
    else if(response.status==204){ //no contents
        rsu_list_table.clear();
        rsu_list_table.draw();
    }
  }

  /* delete by id */
  async function request_rsu_delete(id){
    if(confirm("{{menu_ko.message_delete_rsu_selected}}")){
      const req = {"id":id};
      const response = await REST_POST("{% url 'api_rsu_delete' %}", req);
      if(response.ok){
        update_rsu_list();
      }
    }
  }

  /* activate by id */
  async function request_rsu_activate(id){
    if(confirm("{{menu_ko.message_activate_rsu_selected}}")){
      const req = {"id":id};
      const response = await REST_POST("{% url 'api_rsu_activate' %}", req);
      if(response.ok){
        update_rsu_list();
      }
    }
  }

  /* activate by id */
  async function request_rsu_deactivate(id){
    if(confirm("{{menu_ko.message_deactivate_rsu_selected}}")){
      const req = {"id":id};
      const response = await REST_POST("{% url 'api_rsu_deactivate' %}", req);
      if(response.ok){
        update_rsu_list();
      }
    }
  }

  /* page load */
  window.addEventListener('DOMContentLoaded', function(){
      update_rsu_list();
  });   

</script>