
{% load static %}

<style>
  #monitor{
    width: 872px;
    position: relative;
    height: 510px;
    
  }
</style>

<div class="row m-0">
  <div class="col-sm-12 p-1">

      <nav class="navbar navbar-expand-lg">    
          <div class="collapse navbar-collapse" id="btn_new_rsu">
              <ul class="navbar-nav mr-auto">
                  <!-- timer update -->
                  <li class="nav-item mr-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Auto Update
                      </label>
                  </div>
                  </li>
              </ul>
          </div>
      </nav>

  </div>
</div>

<div class="row align-items-start m-0">
    <div class="col-sm-12 p-1">
        <div id="monitor" class="p-1"></div>
    </div>
</div>


<script type="text/javascript">

  var data_chart = echarts.init(document.getElementById('monitor'));

  // prettier-ignore
  var timeData = [];
  // timeData = timeData.map(function (str) {
  //   return str.replace('2009/', '');
  // });
  var option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        animation: false
      }
    },
    legend: {
      data: ['Temperature', 'Depth'],
      left: 10
    },
    axisPointer: {
      link: [
        {
          xAxisIndex: 'all'
        }
      ]
    },
    dataZoom: [
      {
        show: true,
        realtime: true,
        start: 30,
        end: 70,
        xAxisIndex: [0, 1]
      },
      {
        type: 'inside',
        realtime: true,
        start: 30,
        end: 70,
        xAxisIndex: [0, 1]
      }
    ],
    grid: [
      {
        left: 70,
        right: 70,
        height: '30%'
      },
      {
        left: 70,
        right: 70,
        top: '55%',
        height: '30%'
      }
    ],
    xAxis: [
      {
        type: 'category',
        boundaryGap: false,
        axisLine: { onZero: true },
        data: timeData
      },
      {
        gridIndex: 1,
        type: 'category',
        boundaryGap: false,
        axisLine: { onZero: true },
        data: timeData,
        position: 'top'
      }
    ],
    yAxis: [
      {
        name: 'Temperature(deg)',
        type: 'value'
      },
      {
        gridIndex: 1,
        name: 'Depth(m)',
        type: 'value',
        inverse: true
      }
    ],
    series: [
      {
        name: 'Temperature',
        type: 'line',
        symbolSize: 8,
        // prettier-ignore
        data: []
      },
      {
        name: 'Depth',
        type: 'line',
        xAxisIndex: 1,
        yAxisIndex: 1,
        symbolSize: 8,
        // prettier-ignore
        data: []
      }
    ]
  };


data_chart.setOption(option);

/* clear series data */
function clear_series(){
    var option = {series:[]};
    data_chart.setOption(option);
}

/* chart update */
function update_monitor(time, depth, temperature){
  clear_series();
  timeData = time;
  var option = {
    xAxis: [
      { data: timeData },
      { data: timeData }
    ],
    series: [
      { data: temperature },
      { data: depth }
    ]};
    data_chart.setOption(option);
}


/* page load */
window.addEventListener('DOMContentLoaded', function(){

});


</script>