
{% load static %}

<style>
    #map { height: 720px; }
</style>

<link rel="stylesheet" href="{% static 'plugins/leafletjs/leaflet.css' %}">
<script type="text/javascript" src="{% static 'plugins/leafletjs/leaflet.js' %}"></script>

<div class="row m-0">
    <div class="col-sm-12 p-1">

        <div id="map"></div>

    </div>
</div>



<script language="javascript">


    /* page load */
    window.addEventListener('DOMContentLoaded', function(){
        var map = L.map('map').setView([37.4939, 129.1572], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        var marker1 = L.marker([37.4939, 129.1572]).bindPopup("<b>Recovery Unit 01</b>");
        var marker2 = L.marker([37.48264, 129.16009]).bindPopup("<b>Recovery Unit 02</b>");
        var circle = L.circle([37.49, 129.1597], { color: 'red', fillColor: '#f03', fillOpacity: 0.2, radius: 1000 }).bindPopup("Search Area");
        var group = L.layerGroup([marker1, marker2, circle]);
    });
    
</script>