
{% load static %}

<style>

    .dataTables_scrollHeadInner {
      width: 100% !important;
    }
    .dataTables_scrollHeadInner table {
      width: 100% !important;
    }
    
    </style>

<div class="row m-0 mt-1">
    <div class="col-sm-12">
      <table class="table table-sm display compact" id="table_datalog_list" width="100%">
        <thead>
          <tr>
            <th width="205%">Created Date</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

<script language="javascript">
    
  /* datalog list table */
  var datalog_list_table = $('#table_datalog_list').DataTable({
      autoload:true,
      scrollX:false,
      scrollY: "250px",
      scrollCollapse:true,
      paging:false,
      ordering:false,
      columnDefs: [
      {
          targets: [ 1 ],
          visible: true,
          searchable: false
      }]
  });

  /* request datalog list */
  async function update_datalog_list(){
      datalog_list_table.clear();
  
      const response = await REST_GET("{% url 'api_datalog_list' %}");
  
      if(response.ok && response.status==200){
        const listdata = await response.json();
        console.log(listdata);

        listdata.data.forEach(function(s){
          var manage = "";

          manage+='<button type="button" class="btn btn-light btn-sm btn-outline-dark" onclick=javascript:request_datalog_delete('+s.uid+');><i class="fas fa-trash mr-1 text-danger"></i> Delete</button>';
            
            datalog_list_table.row.add([s.uid, s.lsid, s.ldid, s.tagname, manage]);
        });
        datalog_list_table.draw();
      }
      else if(response.status==204){ //no contents
          datalog_list_table.clear();
          datalog_list_table.draw();
      }
  }

  /* delete by id */
  async function request_datalog_delete(uid){
    if(confirm("{{menu_ko.message_delete_datalog_selected}}")){
      const req = {"uid":uid};
      const response = await REST_POST("{% url 'api_datalog_delete' %}", req);
      if(response.ok){
        update_datalog_list();
      }
    }
  }

  /* page load */
  window.addEventListener('DOMContentLoaded', function(){
      update_datalog_list();
  });   

</script>