

<div class="card card-dark card-tabs" style="height: 775px;">
    <div class="card-header p-0 pt-1 border-bottom-0" style="background-color:rgb(6, 6, 55)">

        <!-- navigation tabs -->
        <ul class="nav nav-tabs" id="tab_settings" role="tablist">
            <!-- view location tab title & link -->
            <li class="nav-item">
                <a class="nav-link active" id="tab_menu_location_link" data-toggle="pill" href="#tab_menu_location" role="tab" aria-controls="tab_menu_location" aria-selected="true">
                <i class="fas fa-globe-asia"></i> {{menu_ko.menu_title_map}}</a>
            </li>

            <!-- Device -->
            <li class="nav-item">
                <a class="nav-link" id="tab_menu_device_link" data-toggle="pill" href="#tab_menu_device" role="tab" aria-controls="tab_menu_device" aria-selected="true">
                <i class="fas fa-map-pin"></i> {{menu_ko.menu_title_device}}</a>
            </li>

            <!-- Message -->
            <li class="nav-item">
                <a class="nav-link" id="tab_menu_message_link" data-toggle="pill" href="#tab_menu_message" role="tab" aria-controls="tab_menu_message" aria-selected="true">
                    <i class="fas fa-bacon"></i> {{menu_ko.menu_title_message}}</a>
            </li>

            <!-- Setting -->
            <li class="nav-item">
                <a class="nav-link" id="tab_menu_setting_link" data-toggle="pill" href="#tab_menu_setting" role="tab" aria-controls="tab_menu_setting" aria-selected="true">
                <i class="fas fa-cogs"></i> {{menu_ko.menu_title_setting}}</a>
            </li>

            <!-- Info -->
            <li class="nav-item">
                <a class="nav-link" id="tab_menu_info_link" data-toggle="pill" href="#tab_menu_info" role="tab" aria-controls="tab_menu_info" aria-selected="true">
                <i class="fas fa-info-circle"></i> {{menu_ko.menu_title_info}}</a>
            </li>

            
        </ul>
    </div>
    <div class="card-body p-0">
        <div class="tab-content" id="tab_menu">
            
            <!-- tab menu -->
            <div class="tab-pane show active" id="tab_menu_location" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                {% include 'html/view_location.html' %}
            </div>

            <div class="tab-pane" id="tab_menu_device" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                {% include 'html/view_device.html' %}
            </div>

            <div class="tab-pane" id="tab_menu_message" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                {% include 'html/view_message.html' %}
            </div>

            <div class="tab-pane" id="tab_menu_setting" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                {% include 'html/view_setting.html' %}
            </div>

            <div class="tab-pane" id="tab_menu_info" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                {% include 'html/view_info.html' %}
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
  
/* page load */
window.addEventListener('DOMContentLoaded', function(){
    
});

</script>
