
{% load static %}

<style>
  #monitor{
    width: 872px;
    position: relative;
    height: 495px;
    
  }
</style>

<div class="row m-0 p-0 mt-1">
  <div class="col-sm-12">
    <div id="monitor" class="p-1"></div>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg p-2">    
        <ul class="navbar-nav">
            <li class="nav-item">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="check_auto_update">
                <label class="form-check-label" for="check_auto_update">Auto Update</label>
              </div>
            </li>
        </ul>
      </nav>
  </div>
</div>


<script type="text/javascript">

  var data_chart = echarts.init(document.getElementById('monitor'));

  // prettier-ignore
  var timeData = [];
  var option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        animation: false
      }
    },
    legend: {
      data: ['Temperature', 'Depth'],
      left: 10
    },
    axisPointer: {
      link: [
        {
          xAxisIndex: 'all'
        }
      ]
    },
    grid: [
      {
        left: 50,
        right: 50,
        height: '30%'
      },
      {
        left: 50,
        right: 50,
        top: '55%',
        height: '30%'
      }
    ],
    xAxis: [
      {
        type: 'category',
        boundaryGap: false,
        axisLine: { onZero: true },
        data: timeData
      },
      {
        gridIndex: 1,
        type: 'category',
        boundaryGap: false,
        axisLine: { onZero: true },
        data: timeData,
        position: 'top'
      }
    ],
    yAxis: [
      {
        name: 'Temperature(°C)',
        type: 'value',
        position: 'left',
        axisLabel:{ margin:0 }
      },
      {
        position:'left',
        gridIndex: 1,
        name: 'Depth(m)',
        type: 'value',
        inverse: true,
        axisLabel:{ margin:0 }
      }
    ],
    series: [
      {
        name: 'Temperature',
        type: 'line',
        symbolSize: 8,
        // prettier-ignore
        data: []
      },
      {
        name: 'Depth',
        type: 'line',
        xAxisIndex: 1,
        yAxisIndex: 1,
        symbolSize: 8,
        // prettier-ignore
        data: []
      }
    ]
  };


data_chart.setOption(option);

/* clear series data */
function clear_series(){
    var option = {series:[]};
    data_chart.setOption(option);
}

/* chart update */
function update_monitor(time, depth, temperature){
  clear_series();
  timeData = time;
  var option = {
    xAxis: [
      { data: timeData },
      { data: timeData }
    ],
    series: [
      { data: temperature },
      { data: depth }
    ]};
    data_chart.setOption(option);
}

/* update live */
async function request_datalog_live_view(){
  const response = await REST_GET("{% url 'api_datalog_live' %}");
  if(response.ok && response.status==200){
    const data = await response.json();
    const parse_data = JSON.parse(data.data);
    update_monitor(parse_data.datetime, parse_data.water_depth, parse_data.water_temperature);
  }
}


var auto_update_timer_id;
/* event auto update */
document.getElementById("check_auto_update").addEventListener("click", function(){
  let checked = document.getElementById("check_auto_update").checked;
  let interval = Number(document.getElementById('edit_auto_update_interval').value);

  if(checked){
    auto_update_timer_id = setInterval(() => request_datalog_live_view(), interval*1000);
  }
  else {
    clearInterval(auto_update_timer_id);
  }
});


/* page load */
window.addEventListener('DOMContentLoaded', function(){

});


</script>