
{% load static %}

{% include 'html/modal_new_rsu.html' %}

<style>

    .dataTables_scrollHeadInner {
      width: 100% !important;
    }
    .dataTables_scrollHeadInner table {
      width: 100% !important;
    }
    
    </style>

<div class="row m-0">
    <div class="col-sm-12 p-1">

        <nav class="navbar navbar-expand-lg">    
            <div class="collapse navbar-collapse" id="btn_new_rsu">
                <ul class="navbar-nav">
                    <!-- new rsu device -->
                    <li class="nav-item">
                    <a class="btn btn-success nav-link" href="#"><i class="fa fa-plus"></i> Add New RSU</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>

<div class="row m-0 mt-1">
    <div class="col-sm-12">
      <table class="table table-sm display compact" id="table_rsu_list" width="100%">
        <thead>
          <tr>
            <th width="10%">UID</th>
            <th width="10%">LSID</th>
            <th width="10%">LDID</th>
            <th width="15%">Tag Name</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

<script language="javascript">
    
  /* open new rsu */
  document.getElementById("btn_new_rsu").addEventListener("click", function() {
      $('#modal_new_rsu').modal('show');
  });

  /* rsu device list table */
  var rsu_list_table = $('#table_rsu_list').DataTable({
      "autoload":true,
      "scrollX":false,
      "scrollY": "250px",
      "scrollCollapse":true,
      "paging":false,
      "ordering":false,
      "columnDefs": [
      {
          "targets": [ 1 ],
          "visible": true,
          "searchable": false
      }]
  });

  /* request rsu list */
  async function update_rsu_list(){
      rsu_list_table.clear();
  
      const response = await REST_GET("{% url 'api_rsu_list' %}");
  
      if(response.ok && response.status==200){
        const listdata = await response.json();
        console.log(listdata);

        listdata.data.forEach(function(s){
          var manage = "";
          if(!s.activate){
            manage += '<button type="button" class="btn btn-light btn-sm btn-outline-dark mr-1" onclick=javascript:request_rsu_activate('+s.uid+');><i class="fas fa-check mr-1 text-success"></i> Activate</button>';
          }
          else {
            manage += '<button type="button" class="btn btn-light btn-sm btn-outline-dark mr-1" onclick=javascript:request_rsu_deactivate('+s.uid+');><i class="fas fa-ban mr-1 text-success"></i> Deactivate</button>';
          }

          manage+='<button type="button" class="btn btn-light btn-sm btn-outline-dark" onclick=javascript:request_rsu_delete('+s.uid+');><i class="fas fa-trash mr-1 text-danger"></i> Delete</button>';
            
            rsu_list_table.row.add([s.uid, s.lsid, s.ldid, s.tagname, manage]);
        });
        rsu_list_table.draw();
      }
      else if(response.status==204){ //no contents
          rsu_list_table.clear();
          rsu_list_table.draw();
      }
  }

  /* delete by id */
  async function request_rsu_delete(uid){
    if(confirm("{{menu_ko.message_delete_rsu_selected}}")){
      const req = {"uid":uid};
      const response = await REST_POST("{% url 'api_rsu_delete' %}", req);
      if(response.ok){
        update_rsu_list();
      }
    }
  }

  /* activate by id */
  async function request_rsu_activate(uid){
    if(confirm("{{menu_ko.message_activate_rsu_selected}}")){
      const req = {"uid":uid};
      const response = await REST_POST("{% url 'api_rsu_activate' %}", req);
      if(response.ok){
        update_rsu_list();
      }
    }
  }

  /* activate by id */
  async function request_rsu_deactivate(uid){
    if(confirm("{{menu_ko.message_deactivate_rsu_selected}}")){
      const req = {"uid":uid};
      const response = await REST_POST("{% url 'api_rsu_deactivate' %}", req);
      if(response.ok){
        update_rsu_list();
      }
    }
  }

  /* page load */
  window.addEventListener('DOMContentLoaded', function(){
      update_rsu_list();
  });   

</script>