
{% load static %}

<link rel="stylesheet" href="{% static 'plugins/leafletjs/leaflet.css' %}">
<script type="text/javascript" src="{% static 'plugins/leafletjs/leaflet.js' %}"></script>

<div class="row m-0">
    <div class="col-sm-12 p-1">

        

    </div>
</div>


<style>

/*Wraperclass for the divicon*/
.map-label {
  position: absolute;
  bottom: 0;left: -50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}
/*Wrap the content of the divicon (text) in this class*/
.map-label-content {
  order: 1;
  position: relative; left: -50%;
  background-color: #fff;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
  padding: 3px;
  white-space: nowrap;
}
/*Add this arrow*/
.map-label-arrow {
  order: 2;
  width: 0px; height: 0px; left: 50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 10px 6px 0 6px; /*[first number is height, second/fourth are rigth/left width]*/
  margin-left: -6px;
}



.map-label.redborder > .map-label-content {
  border-color: #e00;
}
.map-label.redborder > .map-label-arrow {
  border-top-color: #e00;
}

.map-label.redbackground > .map-label-content {
  white-space: default;
  color: #fff;
  background-color: #e00;
}


</style>

<script language="javascript">


    /* page load */
    window.addEventListener('DOMContentLoaded', function(){
        
        var map = L.map('map').setView([37.4939, 129.1572], 14);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);

        //L.marker([37.4939, 129.1572],{alt: 'RSU-01'}).bindTooltip("RSU-01", { permanent: true, direction: 'right' }).addTo(map);
        //L.marker([37.48264, 129.16009],{alt: 'RSU-02'}).bindTooltip("RSU-02", { permanent: true, direction: 'right' }).addTo(map);
        //L.marker([37.4939, 129.1572],{alt: 'RSU-01'}).bindPopup("<b>RSU-01</b><br><li>Depth : 40m<br><li>Temperature : 20°C<p><a class='btn btn-sm btn-block btn-success' href='#'' role='button'>View History</a>").addTo(map);
        //L.marker([37.48264, 129.16009],{alt: 'RSU-02'}).bindPopup("<b>RSU-02</b><br><li>Depth : 37m<br><li>Temperature : 22°C<p><a class='btn btn-sm btn-block btn-success' href='#'' role='button'>View History</a>").addTo(map);
        //L.marker([37.4939, 129.1572], {icon: L.divIcon({ iconSize:null, html:'<div class="map-label"><div class="map-label-content">RSU-01</div></div>' })}).addTo(map);
        //L.marker([37.48264, 129.16009], {icon: L.divIcon({ iconSize:null, html:'<div class="map-label"><div class="map-label-content">RSU-02</div></div>' })}).addTo(map);


        //L.circle([37.49, 129.1597], { color: 'red', fillColor: '#f03', fillOpacity: 0.1, radius: 1000}).addTo(map);



        });
    
</script>